/* Common */
* {
    box-sizing: content-box;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

/* Profile > Info */
.main {
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color: #353535;
}

.wrapper {
    width: 950px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
}

.profile-card {
    margin: 8px 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: left;
    line-height: 20px;
}
.profile-card > * {
    flex: 1;
    font-size: 12pt;
}
.profile-card .profile-pic {
    margin-left: 50px;
    width: 145px;
    height: 145px;
    flex: 0 0 auto;
    background: none;
}

.profile-card .profile-pic img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
}

.profile-card .profile-info {
    margin: 10px 90px;
    width: 100%;
}

.profile-card .id {
    margin-right: 15px;
    text-align: left;
    font-size: 20pt;
    font-weight: lighter;
}
.profile-edit-btn {
    margin-right: 5px;
    padding: 4px 7px;
    background: none;
    font-size: 10pt;
    font-weight: bolder;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.profile-option-btn {
    background: none;
    border: none;
    font-size: 15pt;
}

.profile-card .profile-sub {
    margin: 20px 0;
}
.profile-card .profile-sub > * {
    margin-right: 30px;
}

.profile-card .profile-sub .profile-sub-num {
    font-weight: bold;
}

.name {
    font-weight: bold;
}

/* Category */
.category {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 950px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    border-top: 1px solid #dbdbdb;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
}
.category button {
    margin: 15px;
    margin-bottom: 0;
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 9pt;
    font-weight: bold;
    color: #8e8e8e;
}
.category button:active {
    color: #c4c4c4;
}

/* Posts */
.post {
    margin: 0 auto;
    padding: 0;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
}
.post-item {
    margin: 15px;
    position: relative;
    color: #fff;
    cursor: pointer;
}
.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
